<h1> Users page </h1>

<form ng-submit='vmUser.createUser(vmUser.user)' name='register' enctype='multipart/form-data'>
  <input type='text' ng-model='vmUser.user.name' name='name' placeholder='Name' required><br>
  Photo: <input type='file' ngf-select ngf='"image/*"' ngf-accept='"image/*"' ngf-max-size='20MB' ng-model='vmUser.user.photo' name='photo'>
  <button type='submit'>Register User</button>
</form>

{{ vmUser.data }}

<form ng-submit='vmUser.showUser(vmUser.show)' name='show'>
  <input type='text' ng-model='vmUser.show.name' name='name' placeholder="User's name" required>
  <button type='submit'>Show User</button>
</form>

{{ vmUser.showOne }}


<form ng-submit='vmUser.deleteUser(vmUser.delete)' name='delete'>
  <input type='text' ng-model='vmUser.delete.name' name='name' placeholder='Name' required>
  <button type='submit'>Delete User</button>
</form>

<form ng-submit='vmUser.updateUser(vmUser.update)' name='update'>
  <input type='text' ng-model='vmUser.update.currentName' name='currentName' placeholder='Current Name' required>
  <input type='text' ng-model='vmUser.update.newName' name='newName' placeholder='New Name' required>
  <button type='submit'>Update User Name</button>
</form>